:root {
  // colors
  --color-dark: #0c0c0e;
  --color-white: #fff;
  --color-black: #000;
  --color-gold: #bb945f;
  --color-grey: #8e8e8e;

  // fonts
  --main-font: "Forum", cursive;
  --secondary-font: "Inter", sans-serif;
}
