.about {
  &__text {
    margin-bottom: 20px;
    padding: 0 20px;
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: var(--color-dark);
  row-gap: 20px;

  &::after {
    content: " ";
    position: relative;
    width: 50px;
    height: 1px;
    background-color: var(--color-dark);
  }

  @media (width <= 420px) {
    font-size: 28px;
  }
}

.transition-on {
  transition: transform 0.3s ease-in-out;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  &__image-container {
    display: grid;
    column-gap: 25px;
    grid-template-columns: repeat(5, minmax(32%, max-content));

    @media (width <= 768px) {
      justify-items: center;
      grid-template-columns: repeat(5, minmax(100%, max-content));
    }
  }

  &__pagination {
    display: flex;
    align-self: center;
    padding-top: 35px;
    padding-bottom: 35px;

    @media (width <= 768px) {
      padding-top: 20px;
    }
  }

  &__pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  &__pagination-icon {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--color-black);
  }

  &__pagination-icon--active {
    background-color: var(--color-gold);
  }

  &__pagination-icon--hidden {
    display: none;

    @media (width <= 768px) {
      display: inline-block;
    }
  }

  &__pagination-item--hidden {
    display: none;

    @media (width <= 768px) {
      display: flex;
    }
  }

  @media (width <= 768px) {
    align-items: center;
  }

  @media (width <= 768px) {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

.carousel_button {
  position: absolute;
  z-index: 10;
  display: none;
  width: 24px;
  height: 25px;
  cursor: pointer;

  @media (width <= 768px) {
    display: inline-block;
  }
}

.carousel_button--prev {
  left: 7.5%;
  top: 45%;

  @media (width <= 680px) {
    left: 0%;
  }

  @media (width <= 560px) {
    width: 35px;
    height: 35px;
    background-color: var(--color-gold);
  }
}

.carousel_button--next {
  right: 7.5%;
  top: 45%;

  @media (width <= 680px) {
    right: 0;
  }

  @media (width <= 560px) {
    width: 35px;
    height: 35px;
    background-color: var(--color-gold);
  }
}

.line-break {
  flex-basis: 100%;
  height: 0;
}
