.favorites {
  &__text {
    margin-bottom: 40px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 20px;

    @media (width < 768px) {
      text-align: center;
    }
  }

  &__form {
    display: grid;
    column-gap: 90px;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, min-content);
    margin-bottom: 40px;

    @media (width < 768px) {
      column-gap: 20px;
    }

    @media (width < 520px) {
      justify-content: space-evenly;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__form-input {
    appearance: none;
    display: grid;
    place-content: center;
    margin: 0;
    margin-right: 21px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font: inherit;
    color: var(--color-gold);
    background-color: #fff;
    cursor: pointer;

    &::before {
      content: "";
      border-radius: 50%;
      width: 7px;
      height: 7px;
      box-shadow: inset 1em 1em var(--color-black);
      transform: scale(0);
      transition: 120ms transform ease-in-out;
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &__form-label {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 20px;
    cursor: pointer;
  }

  &__form-label--active {
    font-weight: 700;
  }
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  row-gap: 40px;

  @media (width < 1220px) {
    justify-content: center;
  }
}

.booklist-item {
  position: relative;
  margin-right: 40px;
  border: 1px solid var(--color-black);
  width: 550px;
  min-height: 555px;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 14px 20px;
    height: 100%;
    max-width: 395px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.4px;

    &::after {
      content: " ";
      position: relative;
      width: 60px;
      height: 1px;
      background-color: var(--color-gold);
    }
  }

  &__heading-line {
    width: 60px;
    height: 1px;
    background-color: var(--color-gold);
  }

  &__image {
    position: absolute;
    right: -41px;
    bottom: -1px;

    @media (width <= 380px) {
      right: 0;
      max-width: 60%;
    }
  }

  &__name {
    text-transform: uppercase;
  }

  &__author {
    text-transform: none;
  }

  &__description {
    margin-bottom: auto;
    font-family: var(--secondary-font);
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;

    @media (width < 630px) {
      margin-bottom: 300px;
    }

    @media (width <= 480px) {
      line-height: 24px;
      text-align: justify;
    }
  }

  &__name,
  &__author {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 1.95px;
  }

  @media (width <= 380px) {
    margin-right: 0;
  }
}

.button {
  align-self: flex-start;
  border: 1px solid var(--color-dark);
  padding: 8px 25px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-gold);
  }
}

.button--owned {
  border-color: var(--color-gold);
  color: var(--color-gold);
  pointer-events: none;
}
