.header {
  .container {
    background-color: var(--color-dark);
  }

  &__profile-icon {
    position: relative;
    z-index: 5;
    margin-left: 40px;
    width: 28px;
    height: 28px;
  }
}

.logo {
  font-family: var(--main-font);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: var(--color-white);

  @media (width <= 930px) {
    margin-right: auto;
  }
}

.navigation {
  display: flex;
  align-items: center;
  padding: 20px;

  &__list {
    display: flex;
    column-gap: 32px;
    margin-left: auto;

    @media (width <= 1020px) {
      column-gap: 10px;
    }

    @media (width <= 930px) {
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: auto;
      width: 320px;
      height: 100%;
      background-color: var(--color-black);
      transition: right 0.5s;
    }
  }

  &__list--active {
    right: 0;

    a.header__link {
      color: var(--color-white);
    }

    a.header__link:hover {
      color: var(--color-white);
    }

    a.header__link--active {
      color: var(--color-white);
    }
  }

  &__link {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 20px;
    line-height: 50px;
    color: var(--color-white);
  }
}

.burger {
  display: none;

  @media (width <= 930px) {
    position: relative;
    z-index: 4;
    display: block;
    margin-left: 40px;
    width: 45px;
    height: 22px;
    transition: all 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-white);
      transition: all 0.5s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      left: 0;
      top: 10px;
      width: 100%;
      height: 2px;
      background-color: var(--color-white);
      transition: all 0.5s ease 0s;
    }
  }
}

.burger--active {
  &::before {
    top: 10px;
    transform: rotate(45deg);
  }

  &::after {
    bottom: 10px;
    transform: rotate(-45deg);
  }

  span {
    transform: scale(0);
  }
}
